#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DH_ALWAYS_EXCLUDE=.git


DESTDIR = $(CURDIR)/debian/sabnzbd-rn

%:
	dh $@

override_dh_install:
	cp -R $(CURDIR)/rn-files/* ${DESTDIR}/apps/sabnzbd-rn
	if [ -d ./git-files/sabnzbd ]; then git --git-dir=./git-files/.git pull; fi
	mkdir -p ./git-files
	if [ ! -d ./git-files/sabnzbd ]; then git clone --depth=1 https://github.com/sabnzbd/sabnzbd.git --branch master --single-branch ./git-files; fi
	cp -R $(CURDIR)/git-files/* ${DESTDIR}/apps/sabnzbd-rn
